core/src/main/resources/net/sf/jasperreports/components/components.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://jasperreports.sourceforge.net/jasperreports/components"
	xmlns:c="http://jasperreports.sourceforge.net/jasperreports/components"
	xmlns:jr="http://jasperreports.sourceforge.net/jasperreports"
	elementFormDefault="qualified">

	<import namespace="http://jasperreports.sourceforge.net/jasperreports" />

	<element name="list" substitutionGroup="jr:component">
		<complexType>
			<complexContent>
				<extension base="jr:componentType">
					<sequence>
						<element ref="jr:datasetRun" minOccurs="1" maxOccurs="1" />
						<element ref="c:listContents" />
					</sequence>
					<attribute name="printOrder" use="optional" default="Vertical">
						<simpleType>
							<restriction base="string">
								<enumeration value="Vertical" />
								<enumeration value="Horizontal" />
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="ignoreWidth" type="boolean" use="optional"/>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="listContents">
		<complexType>
			<sequence>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="jr:break" />
					<element ref="jr:line" />
					<element ref="jr:rectangle" />
					<element ref="jr:ellipse" />
					<element ref="jr:image" />
					<element ref="jr:staticText" />
					<element ref="jr:textField" />
					<element ref="jr:subreport" />
					<element ref="jr:pieChart" />
					<element ref="jr:pie3DChart" />
					<element ref="jr:barChart" />
					<element ref="jr:bar3DChart" />
					<element ref="jr:xyBarChart" />
					<element ref="jr:stackedBarChart" />
					<element ref="jr:stackedBar3DChart" />
					<element ref="jr:lineChart" />
					<element ref="jr:xyLineChart" />
					<element ref="jr:areaChart" />
					<element ref="jr:xyAreaChart" />
					<element ref="jr:scatterChart" />
					<element ref="jr:bubbleChart" />
					<element ref="jr:timeSeriesChart" />
					<element ref="jr:highLowChart" />
					<element ref="jr:candlestickChart" />
					<element ref="jr:meterChart" />
					<element ref="jr:thermometerChart" />
					<element ref="jr:multiAxisChart" />
					<element ref="jr:stackedAreaChart" />
					<element ref="jr:ganttChart" />
					<element ref="jr:elementGroup" />
					<element ref="jr:crosstab" />
					<element ref="jr:frame" />
					<element ref="jr:componentElement" />
					<element ref="jr:genericElement" />
				</choice>
			</sequence>
			<attribute name="height" use="required" type="unsignedInt"/>
			<attribute name="width" use="optional" type="unsignedInt"/>
		</complexType>
	</element>
	
	<element name="table" substitutionGroup="jr:component">
		<complexType>
			<complexContent>
				<extension base="jr:componentType">
					<sequence>
						<element ref="jr:datasetRun" minOccurs="1" maxOccurs="1" />
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="c:columnGroup"/>
							<element ref="c:column"/>
						</choice>
						<element name="tableHeader" type="c:TableRow" minOccurs="0"/>
						<element name="columnHeader" type="c:TableRow" minOccurs="0"/>
						<element name="groupHeader" type="c:TableGroupRow" minOccurs="0" maxOccurs="unbounded"/>
						<element name="detail" type="c:TableRow" minOccurs="0"/>
						<element name="groupFooter" type="c:TableGroupRow" minOccurs="0" maxOccurs="unbounded"/>
						<element name="columnFooter" type="c:TableRow" minOccurs="0"/>
						<element name="tableFooter" type="c:TableRow" minOccurs="0"/>
						<element name="noData" type="c:TableBaseCell" minOccurs="0"/>
					</sequence>
					<attribute name="whenNoDataType" use="optional">
						<annotation>
							<documentation>Allows users to customize the behavior of the table when there are now rows in the data source.</documentation>
						</annotation>
						<simpleType>
					 	<restriction base="string">
							<enumeration value="Blank">
							<annotation>
								<documentation>The table output will be blank.</documentation>
							</annotation>
							</enumeration>
							<enumeration value="NoDataCell">
							<annotation>
								<documentation>The table output consists of only the noData cell.</documentation>
							</annotation>
							</enumeration>
							<enumeration value="AllSectionsNoDetail">
							<annotation>
								<documentation>All the table sections except the detail section will get printed.</documentation>
							</annotation>
							</enumeration>
						</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<complexType name="BaseColumn">
		<sequence>
			<element ref="jr:property" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="jr:propertyExpression" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="jr:printWhenExpression" minOccurs="0" maxOccurs="1"/>
			<element name="tableHeader" type="c:TableCell" minOccurs="0"/>
			<element name="tableFooter" type="c:TableCell" minOccurs="0"/>
			<element name="groupHeader" type="c:TableGroupCell" minOccurs="0" maxOccurs="unbounded"/>
			<element name="groupFooter" type="c:TableGroupCell" minOccurs="0" maxOccurs="unbounded"/>
			<element name="columnHeader" type="c:TableCell" minOccurs="0"/>
			<element name="columnFooter" type="c:TableCell" minOccurs="0"/>
		</sequence>
		<attribute name="uuid" type="string" use="optional">
			<annotation>
				<documentation>This attribute is auto-generated and is used to uniquely identify elements across multiple report templates.</documentation>
			</annotation>
		</attribute>  
		<attribute name="width" use="required" type="unsignedInt"/>
	</complexType>
	
	<element name="columnGroup">
		<complexType>
			<complexContent>
				<extension base="c:BaseColumn">
					<sequence>
						<choice minOccurs="1" maxOccurs="unbounded">
							<element ref="c:columnGroup"/>
							<element ref="c:column"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<element name="column">
		<complexType>
			<complexContent>
				<extension base="c:BaseColumn">
					<sequence>
						<element name="detailCell" type="c:TableCell"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<complexType name="TableGroupRow">
		<sequence>
			<element name="row" type="c:TableRow"/>
		</sequence>
		<attribute name="groupName" use="required" type="string"/>
	</complexType>
	
	<complexType name="TableRow">
		<sequence>
			<element ref="jr:printWhenExpression" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attribute name="splitType" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="Stretch"/>
					<enumeration value="Prevent"/>
					<enumeration value="Immediate"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	
	<complexType name="TableGroupCell">
		<sequence>
			<element name="cell" type="c:TableCell"/>
		</sequence>
		<attribute name="groupName" use="required" type="string"/>
	</complexType>
	
	<complexType name="TableBaseCell">
		<sequence>
			<element ref="jr:property" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="jr:box" minOccurs="0" maxOccurs="1"/>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="jr:break" />
				<element ref="jr:line" />
				<element ref="jr:rectangle" />
				<element ref="jr:ellipse" />
				<element ref="jr:image" />
				<element ref="jr:staticText" />
				<element ref="jr:textField" />
				<element ref="jr:subreport" />
				<element ref="jr:pieChart" />
				<element ref="jr:pie3DChart" />
				<element ref="jr:barChart" />
				<element ref="jr:bar3DChart" />
				<element ref="jr:xyBarChart" />
				<element ref="jr:stackedBarChart" />
				<element ref="jr:stackedBar3DChart" />
				<element ref="jr:lineChart" />
				<element ref="jr:xyLineChart" />
				<element ref="jr:areaChart" />
				<element ref="jr:xyAreaChart" />
				<element ref="jr:scatterChart" />
				<element ref="jr:bubbleChart" />
				<element ref="jr:timeSeriesChart" />
				<element ref="jr:highLowChart" />
				<element ref="jr:candlestickChart" />
				<element ref="jr:meterChart" />
				<element ref="jr:thermometerChart" />
				<element ref="jr:multiAxisChart" />
				<element ref="jr:stackedAreaChart" />
				<element ref="jr:ganttChart" />
				<element ref="jr:elementGroup" />
				<element ref="jr:crosstab" />
				<element ref="jr:frame" />
				<element ref="jr:componentElement" />
				<element ref="jr:genericElement" />
			</choice>
		</sequence>
		<attribute name="style" use="optional" type="string"/>
		<attribute name="height" use="required" type="unsignedInt"/>
	</complexType>
	
	<complexType name="TableCell">
		<complexContent>
			<extension base="c:TableBaseCell">
				<attribute name="rowSpan" use="optional" type="unsignedInt"/>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="iconLabel" substitutionGroup="jr:component">
		<complexType>
			<complexContent>
				<extension base="jr:componentType">
					<sequence>
						<element ref="jr:box" minOccurs="0" maxOccurs="1"/>
						<element ref="c:label" minOccurs="1" maxOccurs="1"/>
						<element ref="c:icon" minOccurs="1" maxOccurs="1"/>
					</sequence>
					<attribute name="iconPosition" use="optional">
						<annotation>
							<documentation>Icon position.</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="Start">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="End">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</attribute>					
					<attribute name="labelFill" use="optional">
						<annotation>
							<documentation>Text fill policy.</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="None">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Horizontal">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Vertical">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Both">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</attribute>					
					<attribute name="horizontalAlignment" use="optional">
						<annotation>
							<documentation>Horizontal alignment.</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="Left">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Center">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Right">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="verticalAlignment" use="optional">
						<annotation>
							<documentation>Vertical alignment.</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="Top">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Middle">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
								<enumeration value="Bottom">
									<annotation>
										<documentation></documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</attribute>					
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="label">
		<complexType>
			<sequence>
				<element ref="jr:textField" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>

	<element name="icon">
		<complexType>
			<sequence>
				<element ref="jr:textField" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="ItemData">
		<sequence>
			<element ref="jr:dataset" minOccurs="0" maxOccurs="1"/>
			<element name="item" type="c:item" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="ItemProperty">
		<sequence>
			<element ref="jr:valueExpression" minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="value" type="string" use="optional" />
	</complexType>

	<complexType name="item">
		<sequence>
			<element name="itemProperty" type="c:ItemProperty" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="markerData">
		<complexType>
			<complexContent>
				<extension base="c:ItemData">
					<sequence>
						<element name="seriesNameExpression" minOccurs="0" maxOccurs="1">
							<complexType mixed="true"/>
						</element>
						<element name="markerClusteringExpression" minOccurs="0" maxOccurs="1">
							<complexType mixed="true"/>
						</element>
						<element name="markerSpideringExpression" minOccurs="0" maxOccurs="1">
							<complexType mixed="true"/>
						</element>
						<element name="legendIconExpression" minOccurs="0" maxOccurs="1">
							<complexType mixed="true"/>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
</schema>
